{% extends 'base.html.twig' %}
{% block meta %}
{{ parent() }}
{#<meta name="google-signin-client_id" content="50754451830-t7qmcl622tbho5k20riecrp0psap01bq.apps.googleusercontent.com">#}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block after_opening_tag_body %}
<div id="fb-root"></div>
{% endblock %}

{% block content_page_wrapper %}
<div id="login-page" class="container">
    {% block page_header %}
        <div class="row justify-content-center">
            <div class="col-md-5 text-center login-header">
                <a href="{#{{ path('app_index') }}#}" alt="LOBA logo login-logo"><img src="{{ asset('build/images/logo.svg') }}" class="logo" alt="LOBAA logo" ></a>
                <h1 class="h2 headings">Bienvenue sur Lobaa !</h1>
                <h6 class="h6 headings text-muted">Echangez simplement avec vos proches</h6>
            </div>
        </div>
    {% endblock %}
    {% block page_content %}
   
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12">
                <form id="login-form"   method="post" novalidate>
                        <div class="lds-spinner login-loader  mx-auto mt-2"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        <div id="feedback-global" class="feedback form-invalid alert alert-danger" role="alert">
                        </div>
                        {% set errors = app.flashes('error') %}
                        {% if errors %}
                            <div id="noticeflash" class="feedback show-feedback form-invalid alert alert-danger" role="alert">
                                {% for error  in errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input placeholder="E-mail or Username" type="email" value="{{ last_username }}" name="email" class="form-control mx-auto" id="email" required >
                            <div id="feedback-email" class="feedback mx-auto mt-2"></div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Mot de passe" type="password" class="form-control mx-auto" name="password" id="password" required>
                            <div id="feedback-password" class="feedback  mx-auto mt-2"></div>
                        </div>
                        <div class="forget-password">
                            <a class="mx-auto" href="" alt="mot de pass oublié">Mot de passe oublié ?</a>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                        <button id="btn-login"  data-url="{{ path('app_login_check') }}"  class="btn btn-lg btn-primary mx-auto" type="submit">
                            Se connecter
                        </button>

                        <div class="text-center login-or my-3">
                            ou
                        </div>
                        <div class="fb-login-btn-wrapper" >
                           {# <div id="fb-login-btn-id" class="fb-login-btn my-3 mx-auto  text-center" data-appid="{{ facebook_id }}" data-url="{{ path('app_login_facebook', {token: csrf_token('authenticate')} ) }}"></div> #}
                           <div id="fb-login-btn-id" class="fb-login-btn my-3 mx-auto  text-center" data-appid="{{ facebook_id }}" data-url="{{ path('app_login_check_facebook') }}">
                                <img class="fb-icon" src="{{ asset('build/images/f-normal.svg')}}" alt="facebook login Logo">
                                <span class="buttonText">Continuer avec Facebook</span>
                            </div>
                        </div>
                        {#<div class="fb-login-btn-wrapper my-3 mx-auto  text-center">
                            <div style="display:block" class="fb-login-button" data-width="100%" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
                        </div>#}
                        <div class="g-login-btn-wrapper">
                                <div id="g-login-btn-id" class="g-login-btn my-3 mx-auto" data-appid="{{ google_id }}" data-url="{{ path('app_login_check_google') }}">
                                  <img class="g-icon" src="{{ asset('build/images/g-normal.svg')}}" alt="Google login Logo">
                                  <span class="buttonText">Continuer avec Google</span>
                                </div>
                        </div>

                   {#} {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}#}
                   
                  {#  <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >#}

                   
                
                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                
                  
                </form>
            </div>
        </div>
    
    {% endblock %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://apis.google.com/js/api:client.js"></script>
<script>

    window.fbAsyncInit = function() {
        //console.log("call this");
        FB.init({
          appId            : document.getElementById('fb-login-btn-id').dataset.appid,
          xfbml            : false,
          version          : 'v10.0',
          status           : true,
          cookie           : true,
        });
    };


</script>
{#<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk/debug.js"></script>#}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{{ encore_entry_script_tags('login') }}
{% endblock %}
